<h1 *ngIf="currentPlayerName !==''" class="Center">{{currentPlayerName}}'s turn</h1>


<div class="form-group">
  <label for="player1Name">First player Name</label>
  <input size='10' type="text" class="form-control input" id="player1Name" [(ngModel)]="player1Name">
  <br>
  <label for="player2Name">Second player Name</label>
  <input size='10' type="text" class="form-control input" id="player2Name" [(ngModel)]="player2Name">
  <span></span>
  <button (click)="createGame()" class="btn btn-default">Start Game</button>
</div>
<div class="mancala1">
  <span class="mancala-card" style="color:blue">{{currentMancala}}</span>
</div>
<div class="mancala2">
  <span class="mancala-card" style="color:red">{{otherMancala}}</span>
</div>
<div class="content">

  <!-- Resources -->
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>

  <div class="card-container-other-player">
    <span *ngFor="let pit of otherPlayerBoard; let i = index" class="card" style="color:red">{{pit}}</span>
  </div>
  <div class="card-container">
    <span *ngFor="let pit of currentPlayerBoard; let i = index" class="card" (click)="play(i)" style="color:blue">{{pit}}</span>
  </div>

</div>

<router-outlet></router-outlet>